.DS_Store
nvim/plugged/
nvim/.netrwhist
nvim/plugin/packer_compiled.vim

configstore/
fish/functions/__*
fish/functions/fish_user_key_bindings.fish
fish/functions/fzf_key_bindings.fish

coc/

tmux/plugins/

yarn/

ptpython/history
gcloud/
binwalk/
gh/
firebase/

