.DS_Store

BraveSoftware/
dconf/
discordcanary/
gita/repo_path
lazygit/state.yml

nvim/plugged/
nvim/.netrwhist
nvim/plugin/packer_compiled.vim

configstore/
fish/fish_variables
fish/functions/__*
fish/functions/fish_user_key_bindings.fish
fish/functions/fzf_key_bindings.fish

coc/

tmux/plugins/

yarn/

ptpython/history
gcloud/
binwalk/
gh/
firebase/
htop/
berty-tech/
Electron/
anticipainter/
discord/
pulse/
spotify/
inkscape/
JetBrains/
ncgopher/
foot/
asciinema/install-id
gtk-3.0

