snippet f, "function"
function ${1:name}(${2:args})
	$0
end
endsnippet

snippet lf, "local function" b
local function ${1:name}(${2:opts})
	$0
end
endsnippet

snippet if, "if statement" b
if ${1:condition} then
	$0
end
endsnippet
