* {
	border: none;
	border-radius: 3px 3px 0 0;
	font-family: "RobotoMono Nerd Font";
	font-size: 15px;
	min-height: 0;
}

window#waybar {
	background: rgba(43, 48, 59, 0.9);
	border-bottom: 3px solid rgba(100, 114, 125, 0.5);
	color: white;
}

#workspaces {
	margin: 0 1px;
}

#workspaces button, #tray > * > * {
	margin-left: 1px;
	margin-right: 1px;
	border-radius: 12px 12px 2px 2px;
	padding: 0 5px;
	background: rgba(255, 255, 255, 0.1);
	color: white;
	border-bottom: 3px solid rgba(100, 114, 125, 0.75);
	transition: background 200ms, margin 200ms;
}

#tray > * > * {
	/* background: rgba(242, 198, 138, 0.3); */
	/* border-bottom: 3px solid rgba(242, 198, 138, 0.05); */
	border-bottom: 3px solid rgba(0, 0, 0, 0.01);
	margin-right: 4px;
	padding: 0;
	/* animation-delay: 0.3s; */
	/* animation-duration: 1.5s; */
	/* animation-name: blinkborder2; */
	/* animation-timing-function: linear; */
	/* animation-iteration-count: infinite; */
}

#tray * {
	padding-left: 5px;
	padding-right: 5px;
}

#workspaces button:hover, #tray :hover {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px 10px 3px 3px;
	margin-top: 1.5px;
	margin-bottom: -1.5px;
	transition: border-radius 300ms, margin 200ms;
}

#workspaces button.urgent {
	background: rgba(255, 108, 107, 0.5);
	transition: background 200ms;
}

#workspaces button.focused {
	background: #64727D;
	margin-top: 3px;
	margin-bottom: -3px;
	border-radius: 8px 8px 3px 3px;
	border-bottom: 3px solid rgba(242, 166, 138, 0.75);
	transition: border-radius 300ms, margin 200ms;
}

#mode, #clock, #battery, #backlight, #pulseaudio, #idle_inhibitor {
	padding: 0 10px;
	margin: 0 5px;
}

#clock {
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

#battery, #pulseaudio, #backlight {
	min-width: 48px;
	font-family: "RobotoMono Nerd Font";
}

#idle_inhibitor {
	padding-right: 8px;
	margin-bottom: 1px;
	margin-top: -1px;
	font-family: "RobotoMono Nerd Font";
	color: rgba(242, 198, 138, 1.0);
	transition: opacity 200ms;
}

#idle_inhibitor.deactivated {
	opacity: 0;
}

#pulseaudio {
	transition: margin 200ms, opacity 200ms, background-color 200ms;
}

#pulseaudio.muted {
	margin-left: -74px;
	opacity: 0;
}

#pulseaudio.loud {
	background-color: rgba(255, 108, 107, 0.5);
}

#mode {
	background: #64727D;
	/* border-bottom: 3px solid #f53c3c; */

	color: #ddd;
	/* background: rgba(242, 198, 138, 0.35); */
	border-bottom: 3px solid rgba(242, 198, 138, 0.5);
	/* border-color: transparent; */
	animation-duration: 1.5s;
	animation-name: blinkborder2;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#clock {
	background-color: #64727D;
}

#battery, #backlight, #pulseaudio {
	background-color: rgba(255, 255, 255, 0.2);
}

#battery.charging {
	/* border-bottom: 3px solid RGBA(242, 198, 138, 0.75); */
	background-color: RGBA(242, 198, 138, 0.5);
}

@keyframes blink {
	to {
		background-color: rgba(255, 255, 255, 0.2);
	}
}

@keyframes blinkborder {
	0% {
		border-radius: 12px 12px 12px 12px;
	}
	25% {
		border-radius: 8px 8px 14px 14px;
	}
	35% {
		border-radius: 14px 14px 8px 8px;
		margin-top: 0;
		margin-bottom: 0;
	}
	45% {
		margin-top: -3px;
		margin-bottom: 3px;
		border-radius: 14px 14px 8px 8px;
	}
	55% {
		margin-top: -3px;
		margin-bottom: 3px;
		border-radius: 12px 12px 12px 12px;
	}
	65% {
		margin-top: 0;
		margin-bottom: 0;
		border-radius: 8px 8px 14px 14px;
	}
	75% {
		border-radius: 12px 12px 8px 8px;
	}
	85% {
		border-radius: 8px 8px 12px 12px;
	}
	95% {
		border-radius: 12px 12px 12px 12px;
	}
	100% {
		border-radius: 12px 12px 12px 12px;
	}
}

@keyframes blinkborder2 {
	0% {
		border-radius: 12px 12px 3px 3px;
		/* padding-left: 6px; */
		/* padding-right: 4px; */
	}
	25% {
		border-radius: 7px 7px 3px 3px;
	}
	34% {
		margin-top: 0;
		margin-bottom: 0;
	}
	35% {
		border-radius: 14px 14px 3px 3px;
		/* margin-top: 2; */
		/* margin-bottom: -2; */
	}
	45% {
		margin-top: -4px;
		margin-bottom: 4px;

		border-radius: 14px 14px 3px 3px;
	}
	50% {
		/* background: rgba(255, 255, 255, 0.1); */
		/* padding-left: 4px; */
		/* padding-right: 6px; */
	}
	55% {
		margin-top: -4px;
		margin-bottom: 4px;

		border-radius: 12px 12px 6px 6px;
	}
	65% {
		margin-top: 0px;
		margin-bottom: 0;
		border-radius: 3px 3px 8px 8px;
	}
	75% {
		border-radius: 12px 12px 3px 3px;
	}
	85% {
		border-radius: 8px 8px 8px 8px;
	}
	95% {
		border-radius: 12px 12px 3px 3px;
	}
	100% {
		/* padding-left: 6px; */
		/* padding-right: 4px; */
		border-radius: 12px 12px 2px 3px;
	}
}

/* @keyframes blinkborder { */
/* 	/1* to { *1/ */
/* 	/1* 	border-color: rgba(255, 255, 255, 0.2); *1/ */
/* 	/1* 	border-radius: 6px 12px 3px 3px; *1/ */
/* 	/1* } *1/ */
/* 	0% { */
/* 		border-radius: 14px 14px 12px 12px; */
/* 		/1* border-radius: 14px 14px 12px 12px; *1/ */
/* 	} */
/* 	12% { */
/* 		border-radius: 8px 8px 12px 12px; */
/* 	} */
/* 	25% { */
/* 		border-radius: 12px 12px 8px 8px; */
/* 		margin-top: 0; */
/* 		margin-bottom: 0; */
/* 	} */
/* 	30% { */
/* 		margin-top: -3px; */
/* 		margin-bottom: 3px; */
/* 	} */
/* 	45% { */
/* 		border-radius: 12px 12px 12px 12px; */
/* 		margin-top: 0; */
/* 		margin-bottom: 0; */
/* 	} */
/* 	/1* 83% { *1/ */
/* 	/1* 	border-radius: 12px 12px 12px 12px; *1/ */
/* 	/1* } *1/ */
/* 	90% { */
/* 		border-radius: 12px 12px 12px 12px; */
/* 	} */
/* 	100% { */
/* 		border-radius: 14px 14px 12px 12px; */
/* 	} */
/* } */

#battery.warning:not(.charging) {
	background-color: rgba(255, 108, 107, 1.0);
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#battery.critical:not(.charging) {
	background-color: rgba(255, 108, 107, 1.0);
	animation-name: blink;
	animation-duration: 0.25s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
